.navbaar{
    width: 18%;
    height: 100vh;
    background: linear-gradient(to right bottom, #3E5F44, #3E5F44);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}
.logo{
    width: 8rem;
    margin-block: 2rem;
}
.navbaar-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
.navbaar-item:hover{
    background-color: #fff;
    color: black;
}
.active{
    background-color: white;
    color: black;
}

.logout-btn {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    margin-top: auto;
}

.logout-btn:hover {
    background-color: #fff;
    color: black;
}